<!DOCTYPE html>
<html>
  <head>
    <title>Nina Chilen Dot Com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Londrina+Outline&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class='flash mt30'>
        <% flash.each do |name, msg| %>
          <% if msg.present? %>
            <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:html_safe] ? msg.html_safe : msg %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
